<ion-header>
  <ion-toolbar>
    <ion-title>Appraisal System</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" sizeSm="4">
      <ion-card style="height: 200px" color="medium" routerLink="['/appraisal-hr-screen']">
        <ion-card-header>
          <ion-card-title class="style" (click)="goTohrscreen()">HR Evaluation</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeSm="4">
      <ion-card style="height: 200px" color="medium" routerLink="['/appraisal-hr-screen']">
        <ion-card-header>
          <ion-card-title class="style" (click)="goToEmployeeEvaluation()">Employee Evaluation</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeSm="4">
      <ion-card style="height: 200px" color="medium" routerLink="['/appraisal-hr-screen']">
        <ion-card-header>
          <ion-card-title class="style" >Manager Evaluation</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>



    <ion-row>
      <ion-col size="12" sizeSm="4"></ion-col>
      <ion-col size="12" sizeSm="4">
        <img src="assets/Evaluation.jpg">
      </ion-col>
      <ion-col size="12" sizeSm="4">
      </ion-col>
      </ion-row>
</ion-content>


